*{
    margin: 0 auto;
    padding: 0 auto;
    position:fixed;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.wallpaperscraft.com/image/single/girl_sailor_suit_starry_sky_993466_2560x1080.jpg');
    position: fixed;
    background-size:auto cover;
    opacity: 0;
    animation: pageFadeIn 3s ease forwards;
}
    
.header{
    text-shadow:2px 2px #000000;
    border: 15px transparent ;
    display: block;
    float: left;
    width: 950px;
    height: 1400px;
    margin-top: 100px ;
    text-align:left ;
    color: rgb(255, 255, 255);
    font-size: 50px ;
}
.text{
    text-shadow:2px 2px #000000;
    border:  5px transparent ;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.button2 { 
    background-color: #0083c0; 
    color: #ffffff; 
    border-radius: 15px;
    text-align: center;
    transition: padding-right 1s
}
.button2 img{
    height: 50px;
    float:right
} 

.button2 p{
    visibility: hidden;
    transition: visibility 3s;
}

.button2:hover
{
    padding-right: 250px;
}

@keyframes pageFadeIn {
    to {
        opacity: 1
    }
}

.button2 p:hover{
    visibility: visible;
    float: right;
}
